accelerate
bitsandbytes
cohere
huggingface-hub
ipykernel
sentencepiece
langchain
llama-index
matplotlib
openai
pandas
numpy<=2.0
peft
pydantic
pypdf
milvus 
seaborn
transformers
sentence-transformers
tqdm
pymysql 
datasets
spacy